/.git
/app/public/build
/app/public/bundles
/app/public/uploads
/app/var
/app/vendor
.dockerignore
.gitignore
.editorconfig
.php_cs.dist
.travis.yml
docker-compose.*
Dockerfile
Makefile
README.md

/docker/var
/app/node_modules
/app/yarn.lock
